@media (min-width: 768px) {
  .desc_img {
    display: flex;
    column-gap: 48px;
    vertical-align: middle;
    width: 100%;
    padding: 0 24px;
    justify-content: space-between;
  }
  .section-img {
    width: 360px;
  }
  .section-img img {
    width: 100%;
  }
  .description {
    padding: 0;
  }
  .description__text {
    width: 312px;
  }
  .description__new-text {
    width: 312px;
  }
  .btn-all {
    display: block;
  }
  .nav {
    justify-content: space-between;
    background-color: #ffffff;
  }
  .nav__logoMenu {
    display: flex;
    align-items: center;
    padding-left: 24px;
  }
  .nav__addMenu {
    display: flex;
    position: relative;
    padding-right: 20px;
    column-gap: 16px;
  }
  .nav__addMenu::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0px;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
  }
  .new-Add-Menu {
    display: flex;
    position: relative;
    column-gap: 22px;
  }
  .logo {
    padding-left: 16px;
    position: relative;
  }
  .logo::after {
    display: none;
  }
  .logo::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
  }
  .title-services {
    margin-bottom: 24px;
    height: 56px;
    padding: 16px 24px 16px 24px;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper {
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 0 24px;
  }
  .swiper-slide.repair-brands__item {
    width: 224px;
    height: 72px;
    margin: 0 24px 16px 0;
  }
  .swiper-wrapper.brands-wrap {
    height: 175px;
  }
  .repair-brands {
    padding-bottom: 32px;
  }
  .repair-brands__lists {
    padding: 0;
  }
  .add-brands {
    margin-left: 20px;
  }
  .swiper-wrapper.type-tech-wrap {
    height: 170px;
  }
  .swiper-slide.repair-type-tech__item {
    width: 224px;
    height: 160px;
    margin: 0 24px 16px 0;
  }
  .repair-type-tech {
    padding-bottom: 32px;
    background-color: #f8f8f8;
  }
  .add-type-tech {
    margin-left: 20px;
  }
  .swiper-pricelist.swiper {
    padding: 0 0 0 24px;
  }
  .swiper-wrapper.pricelist-wrap {
    flex-direction: column;
    background-color: #fff;
    padding: 0 0px;
    width: 720px;
    border-radius: 6px;
    font-weight: 400;
  }
  .swiper-slide.pricelist__item {
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #eaeaea;
    align-items: center;
    font-size: 14px;
    padding: 16px 0px 16px 0px;
    margin-left: 17px;
  }
  .swiper-slide.pricelist__item:nth-last-child(1) {
    border-bottom: none;
  }
  .pricelist__title-table {
    display: flex;
    font-size: 14px;
    color: #7e7e82;
    padding: 0 0 16px 40px;
  }
  .pricelist__text-items {
    margin-bottom: 47px;
    padding: 16px 16px 0px 24px;
  }
  .pricelist__text {
    width: 421px;
  }
  .pricelist__btn {
    width: 316px;
  }
  .pricelist__btn::after {
    bottom: 5px;
    right: -5px;
  }
  .title-table__serv {
    margin-right: 246px;
  }
  .title-table__price {
    margin-right: 61px;
  }
  .rep-serv__title {
    display: none;
  }
  .rep-serv__value {
    width: 350px;
  }
  .price__title {
    display: none;
  }
  .price__value {
    width: 74px;
  }
  .term-btn__title {
    display: none;
  }
  .term-btn__value {
    width: 81px;
  }
  .item__term-btn-cont {
    align-items: center;
    column-gap: 20px;
  }
  .order-btn {
    margin-right: 16px;
  }
  .footer__items {
    margin-top: 32px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__item-text-dev {
    width: 220px;
    text-align: left;
  }
  .footer__item-text-conf {
    width: 215px;
  }
  .footer__item-text-info {
    width: 213px;
    text-align: right;
  }
}

/*# sourceMappingURL=adaptive768px.css.map */
